/**
* DCS Dropship Plugin Styles
*/

.dcs_dropship_label
{
	margin: 5px;
}


.dcs_dropship_input
{
	margin: 5px;
	border-radius: 5px;
}

.dcs_dropship_submit
{
	margin: 5px 5px 5px 0px;
	border-radius: 5px;
}

.dcs_dropship_div
{
	padding: 5px;
}

.hs_membership_div
{
	padding: 5px;
}

.dcs_dropship_header
{

}

.dcs_dropship_login_message
{
   	color: blue;
}

.dcs_dropship_message
{
   	color: blue;
}

.dcs_dropship_error_message
{
   	color: red;
}

td.dcs_dropship_product
{
	padding:3px;
	margin:3px;
	vertical-align:top;
	min-width: 50px;
}

div.dcs_dropship_product
{
	width:90%;
	height:90%;
	text-align:center;
	vertical-align:middle;
	border:1px solid #bfbfbf;
	border-radius:5px;
	box-shadow:3px 3px 3px #aaaaaa;
	background-color:white;
}

div.dcs_dropship_product_top_div
{
   	padding: 3px;
}

img.dcs_dropship_product
{
	//width:32px;
	height: 64px;
	text-align:center;
}

div.dcs_dropship_product_title
{
	font-weight: bold;
	font-size: x-small;
	border-bottom: 1px solid #ccc;
	height: 35px;
	overflow: hidden;
}

span.dcs_dropship_product_price
{
   	color: green;
	font-size: large;
	font-weight: bold;
}

div.dcs_dropship_product_decoration
{
   	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	bottom: -1px;
	left: 0;
	position: relative;
	width: 100%;
	height: 1.7em;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top,#e8e8e8,#f4f4f4);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


